@charset "utf-8";
/* CSS Document */
html{
    height:100vh;
}
body{ 
	background-color: #EAEDEF;
	font-family: Sans-Serif;
	text-align: center;
    height:100vh;
    font-size: 20px;
}
section{
	padding: 5px;
	/*display: inline-block;
	width: auto;
	height: 80%;
	min-height: 400px;*/
	background-color: #3499DB;
	color: white;
	text-align: left;
	/*vertical-align: top;*/
}
h3{
    text-align: center;
}
.container-fluid{
    height:90vh;
}
.row {
    margin-left: 0;
    margin-right: 0;
}
.box{
    padding: 5px;
    /*background-color: grey;*/
    align-items: center;
}
.div1{
	padding: 5px;
	/*display: inline-block;*/
	/*width: 32%;*/
	/*height: 80%;*/
	/*min-height: 400px;*/
	background-color: #3499DB;
	color: white;
	text-align: left;
	/*vertical-align: top;*/
}
.div1 h2{
	color: #BEC8CE;
	/*display: inline-block;*/
}
.div1 h5{
	color: #BEC8CE;
	text-align: center;
	/*display: inline-block;*/
	font-size: 10px;
}
/*div1:hover{
	font-size: 102%;
}*/
.div2{
	padding: 5px;
	/*display: inline-block;*/
	/*width: 32%;
	height: 80%;*/
	/*min-height: 400px;*/
	background-color: white;
	color: black;
	text-align: left;
	/*vertical-align: top;*/
}/*div2:hover{
	font-size: 102%;
}*/
nav{
	padding: 5px;
	/*display: inline-block;
	width: auto;
	height: 80%;*/
	/*min-height: 400px;*/
	background-color: white;
	color: #3499DB;
	text-align: left;
	/*vertical-align: top;*/
}
footer{
	padding: 5px;
	color: #526572;
	font-size: 85%;
	text-align: right;
}
h1{
	color: black;
	padding: 10px;
	/*margin-left: 90px;*/
	/*display: inline-block;
	vertical-align: top;*/
}
.fit-image{
width: 100%;
object-fit: cover;
}
.lightgreen{
    padding: 10px;
    height: 100%;
    background-color: #8DC63F;
    color: white;
}
.lightyellow{
    padding: 10px;
    height: 100%;
    background-color: #FFBA18;
    color: #103871;
}
.lightblue{
    padding: 10px;
    height: 100%;
    background-color: #0C4E97;
    color: white;
}
.div1 a:link {
	color: #BEC8CE;
	text-decoration: none;
}

.div1 a:visited {
	color: #93A7B4;
	text-decoration: none;
}

.div1 a:hover {
	color: #BEC8CE;
	text-decoration: underline;
}

.div1 a:active {
	color: #93A7B4;
	text-decoration: underline;
}
a:link {
	color: #1282CB;
	text-decoration: none;
}

a:visited {
	color: #0665A2;
	text-decoration: none;
}

a:hover {
	color: #1282CB;
	text-decoration: underline;
}

a:active {
	color: #0665A2;
	text-decoration: underline;
}
